.header {
    background-color: beige;
    font-size: 17px;
    text-align: center;
}
.picture {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 7px rgb(109 109 109 / 12%);
}
.wrapperImage { 
    display: flex;
    justify-content: center;
}